spring:
  application:
    name: batch-service

eureka:
  instance:
    hostname: localhost
    
management:
  health:
    circuitbreakers:
      enabled: true    
  endpoints:
    web:
      exposure:
        include: health, resilience4j  
  endpoint:
    health:
      show-details: always      
  tracing:
    sampling:
      probability: 0.1
#  zipkin:
#    tracing:
#      endpoint: http://zipkin:9411/api/v2/spans

#configuration for circuit breaker
resilience4j:
  circuitbreaker:
    instances:
      getBatchFallBack:
        register-health-indicator: true
        event-consumer-buffer-size: 10
        failure-rate-threshold: 50
        minimum-number-of-calls: 5
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 6s
        permitted-number-of-calls-in-half-open-state: 5
        sliding-window-size: 10
        sliding-window-type: count-based        
        
  retry:
    instances:
      aa:
        max-attempts: 3
        wait-duration: 3s
   
    