server:
  port: 9004
  
  
spring:
  application:
    name: student-service
  zipkin:
    base-url: http://localhost:9411/
  
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

    
eureka:
  instance:
    hostname: localhost
    
management:
  tracing:
    sampling:
      probability: 0.1
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health
        
  endpoint:
    health:
      show-details: always
      
      
resilience4j:
  circuitbreaker:
    instances:
      teacherCircuitBreaker:
        register-health-indicator: true
        event-consumer-buffer-size: 10
        failure-rate-threshold: 50
        minimum-number-of-calls: 5
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 6s
        permitted-number-of-calls-in-half-open-state: 3
        sliding-window-size: 10
        sliding-window-type: count-based
        
      saveStudentCircuitBreaker:
        register-health-indicator: true
        event-consumer-buffer-size: 10
        failure-rate-threshold: 50
        minimum-number-of-calls: 5
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 6s
        permitted-number-of-calls-in-half-open-state: 3
        sliding-window-size: 10
        sliding-window-type: count-based
      

    
        